@import "tailwindcss";
@source "../views";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


[x-cloak] {
    display: none !important;
}


html, body {
    height: 100%;
    scroll-behavior: smooth;
    color: #333333;
    background: #F5F5F5;
}

body {
    overflow-y:auto;
}

.font-primary {
    font-family: 'Montserrat', sans-serif;
}

.font-secondary {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #00674F;
}



/* .program-swiper-pagination {
    position: absolute !important;
    bottom: 0px !important; 
} */
.swiper-pagination-bullet {
    background-color: #ccc; 
    width: 24px;
    height: 24px;
}

.swiper-pagination-bullet-active {
    background-color: #00674F !important;
     
}





.update-swiper-pagination {
    position: absolute !important;
    bottom: -50px !important; 
}



/***************  GSAP ANIMATION  ***********************/

.scroll-section {
    will-change: transform, clip-path;
    backface-visibility: hidden;
  }
  
  .text-content > * {
    transition: text-shadow 0.3s ease;
  }
  
  .image-content {
    transform-style: preserve-3d;
    will-change: transform;
  }

